@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

body {
  background-color: #f9fafb;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}